@using DCC.COLAB.Common.Entities;

@{
    Documento prova = Convert.ChangeType(ViewBag.prova, typeof(Documento));
}

<html>
    <body>
        <div>
            <!--<h3>@prova.codigo</h3>-->

            <div class="col-xs-12 col-md-6 text-center">
		        <h4>disciplina - prova - ano/período - professor</h4>
		        
                <div class="col-xs-12 text-right" style="padding-bottom:10px;">
			        <div id="selos" class="" >
				        <img src="~/Content/img/professor.png" alt="Professor Recomenda"/>
				        <img src="~/Content/img/monitor.png" alt="Monitor Recomenda"/>
				        &nbsp; &nbsp;
				        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="1"/></a>
				        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="2"/></a>
				        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="3"/></a>
				        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="4"/></a>
				        <a href="#" class="starRating"><img src="~/Content/img/nostar.png" alt="5"/></a>
			        </div>
		        </div>
		        <div id="provapdf" class="col-xs-12"></div>
	        </div>

            <div id="comentarios" class="col-xs-12 col-md-6">
                <!-- essa é a linha da magia. tem que rolar aqui um tratamento pra que ele coloque sempre um endereço único
                    é esse endereço único que é puxado para carregar os comentários do facebook p/ cada pag -->
		        <!-- <div class="fb-comments" data-href="~/Home/Prova/@prova.codigo" data-numposts="5"></div> -->
                <div class="fb-comments" data-href="~/Home/Prova/1" data-numposts="5"></div>
	        </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function () {
    });

    window.onload = function (){
      
        var caminho = {
            //url: "pdf/pdf"@prova.codigo".pdf",
            url: "pdf/pdf1.pdf",
            width: "100%",
            height: "700px"
        };
        var myPDF = new PDFObject(caminho).embed("provapdf");
    };
  
</script>