<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="IProvaDataAccess" type="DCC.COLAB.Common.DataAccess.IProvaDataAccess, DCC.COLAB.Common"/>
  <alias alias="ProvaDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.ProvaDataAccess, DCC.COLAB.DataAccess.SQLServer"/>
  
  <alias alias="IPerfilAcessoDataAccess" type="DCC.COLAB.Common.DataAccess.IPerfilAcessoDataAccess, DCC.COLAB.Common"/>
  <alias alias="PerfilAcessoDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.PerfilAcessoDataAccess, DCC.COLAB.DataAccess.SQLServer"/>

  <alias alias="IUsuarioDataAccess" type="DCC.COLAB.Common.DataAccess.IUsuarioDataAccess, DCC.COLAB.Common"/>
  <alias alias="UsuarioDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.UsuarioDataAccess, DCC.COLAB.DataAccess.SQLServer"/>

  <alias alias="IDisciplinaDataAccess" type="DCC.COLAB.Common.DataAccess.IDisciplinaDataAccess, DCC.COLAB.Common"/>
  <alias alias="DisciplinaDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.DisciplinaDataAccess, DCC.COLAB.DataAccess.SQLServer"/>

  <alias alias="ITemaDataAccess" type="DCC.COLAB.Common.DataAccess.ITemaDataAccess, DCC.COLAB.Common"/>
  <alias alias="TemaDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.TemaDataAccess, DCC.COLAB.DataAccess.SQLServer"/>

  <alias alias="ITurmaDataAccess" type="DCC.COLAB.Common.DataAccess.ITurmaDataAccess, DCC.COLAB.Common"/>
  <alias alias="TurmaDataAccess" type="DCC.COLAB.DataAccess.SQLServer.Entities.TurmaDataAccess, DCC.COLAB.DataAccess.SQLServer"/>

  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
  
  <container>
    <extension type="Interception"/>

    <register type="IProvaDataAccess" mapTo="ProvaDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

    <register type="IPerfilAcessoDataAccess" mapTo="PerfilAcessoDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

    <register type="IUsuarioDataAccess" mapTo="UsuarioDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

    <register type="IDisciplinaDataAccess" mapTo="DisciplinaDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

    <register type="ITemaDataAccess" mapTo="TemaDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

    <register type="ITurmaDataAccess" mapTo="TurmaDataAccess">
      <lifetime type="transient" />
      <interceptor type="VirtualMethodInterceptor" />
    </register>

  </container>

</unity>