<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <dataConfiguration defaultDatabase="MySQLServerDesenv" />
  <unity configSource="unity.config" />
  <connectionStrings>
    <add name="MySQLServerAnt" connectionString="Data Source=mysql2.gear.host;Initial Catalog=dcccolab;userid=dcccolab;password=Hi2g_gg2PU^c;Integrated Security=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
    <add name="MySQLServerDesenv" connectionString="Server=localhost;Database=dcccolab;Uid=root;Pwd=root;Persist Security Info=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
    <add name="MySQLServerGearHost" connectionString="Server=mysql2.gear.host;Database=dcccolab;Uid=dcccolab;Pwd=dccCol@b!;Persist Security Info=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="nomeArquivoDeQueries" value="QueryConfig.xml"/>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <profile>
      <providers>
        <clear />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SQLServerDesenvolvimento" applicationName="/" />-->
        <add name="AspNetSqlProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider" connectionStringName="MySQLServerGearHost" applicationName="/" />
      </providers>
    </profile>
    <!--<roleManager enabled="true">
      <providers>
        <clear />
        --><!--<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SQLServerDesenvolvimento" applicationName="/" />--><!--
        <add name="AspNetSqlRoleProvider" type="MySql.Web.Security.MySQLRoleProvider" connectionStringName="MySQLServerDesenv" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services configSource="wcfServices.config"/>
    <bindings configSource="wcfBindings.config"/>
    <behaviors configSource="wcfBehaviors.config"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>