<div>
    <legend>Notificacões - Consulta</legend>

    <table id="tabelaNotificacoes" class="table hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Tipo</th>
                <th>Identificação</th>
                <th>Descrição</th>
                <th>Data</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts
{
    <script type="text/javascript">
        var AtualizarListagem = function () {
            $('#tabelaNotificacoes').dataTable().fnDraw(false);
        };

        var InicializarListagem = function () {
            $('#tabelaNotificacoes').dataTable({
                columns: [
                    { "data": "id", "name": "N.id_Notificacao" },
                    { "data": "usuario.nome", "name": "U.nm_Usuario" },
                    { "data": "tipoConteudoString", "name": "N.tipo_Referencia" },
                    { "data": "conteudoString" },
                    { "data": "descricao", "name": "N.txt_Notificacao" },
                    { "data": "dataString", "name": "N.dt_Notificacao" }
                ],
                columnDefs: [
                    { targets: 0, visible: false, orderable: false, searchable: false },
                    { targets: 3, orderable: false },
                ],
                language: { url: "/../Content/dataTable_pt_BR.js", searchPlaceholder: "descrição" },
                processing: true,
                serverSide: true,
                order: [[5, "desc"]],
                ajax: {
                    url: "@Url.Action("ListarNotificacoes", "Notificacao")",
                    async: false,
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        return COLAB.ObterFiltroBaseDataTable(d);
                    }
                }
            });
        };

        $('#btnNovo').click(function () {
            $('#modalNotificacaoLabel').text('Cadastrar Novo Notificacao');
            $("#hdIdNotificacao").val(0);
            $('#txtTitulo').val("");
            $('#txtDescricao').val("");
            $('#selectTipo').val(0);
            $('#txtUrl').val("");

            $('#selectDisciplina').val(0);
            $('#selectDisciplina').prop('disabled', false);

            $("#hdTemas").val("");
            $('#temasNotificacao').val("");

            $('#cadastroDeNotificacao').modal();
        });

        $(document).ready(function () {
            Msg.iconMode = "fa";
            InicializarListagem();
            COLAB.InicializarPropriedades();
        });
    </script>
}